body {
  background-color: #21292B;
  color: #F7FAFC;
}

.center {
  text-align: center;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

.td-margin {
  margin-right: 25px;
}

.img-style {
  border: 2px solid #F7FAFC;
  border-radius: 50%;
  margin-right: 50px;
  margin-left: 50px;
}
